body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  background-color: rgb(5, 11, 25);
  color: white;
}

nav {
  display: flex;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  column-gap: 25px;
}

nav ul li{
  list-style: none;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}

nav ul li:hover .underline{
  width: 100%;
}

.underline {
  width: 0%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 3px;
  position: absolute;
  transition: width 300ms;
}

.Logo-text{
  font-size: 90px;
  margin: -10px 0;
}

.greyscale{
  filter: grayscale(96%);
  width: inherit;
  height: 100%;
  object-fit: cover;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  opacity: 0.8;

}


.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.box{
  width: 100%;
}

section{
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.hero{
  font-size: 45px;
  margin: 5px;
}

.hero-p{
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  padding-right: 50px;
  margin-top: auto;
}

.border-right{
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.btn {
  font-size: 25px;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.061);
}


.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.face{
  font-size: 25px;
}

.arrow{
  margin-left: 10px;
}

.section{
  height: 100vh;
  max-width: 1150px;
  padding-top: 40px;
  margin: 0 auto;
}

.h2{
  font-size: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.product-card:hover{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.product-card{
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  transition: background-color 400ms;
}

.product-card img{
  width: 100%;
}

.text-container{
  padding: 10px;
}

.product-link{
  color: white;
  text-decoration: none;
}

.gap{
  column-gap: 30px;
}

.productpage-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}

.buybtn {
  font-size: 25px;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
}

.buybtn:hover{
  background-color: rgba(255, 255, 255, 0.061);
}

html {
  scroll-behavior: smooth;
}